<html>
<head><link rel="stylesheet" type="text/css" href="/style.css">
    <title>About Me</title>
</head>
<body>
    <table>
        <tr>
            <td><img src="tumblr_e46761c8bd987dfab6858bc154da866c_e2080412_500.jpg" height="200px"></td>
        </tr>
        <tr>
            <td><a href="/">Home</a></td>
            <td><a href="aboutme">About me</a></td>
            <td><a href="projects">Projects</a></td>
            <td><a href="contactme">Contact Me</a></td>
        </tr>
    </table>
    <div style="padding-top: 20px;">
        <h2>About Me</h2> 
        <div>
            <img src="MakingtheMoment_GS_LB_034.jpg" height="200px" />
            <video controls height="200px">
                <source src="IMG_6890.mp4" type="video/mp4">
            </video>
        </div>
        <table>
            <tr>
                <td>Name:</td>
                <td>Yuvraj Shah</td>
            </tr>
            <tr>
                <td valign="top">About Me:</td>
                <td>
                    My name is Yuvraj Shah, I am a first-year student at Ontario Tech University. <br>
                    I like playing basketball, going exploring with friends, and sometimes reading.
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
