<html>
    <head><link rel="stylesheet" type="text/css" href="/style.css"></head>
    <body>
        <table>
            <tr>
            <td><a href="/">Home</a></td>
            <td><a href="aboutme">About me</a></td>
            <td><a href="projects">Projects</a></td>
            <td><a href="contactme">Contact Me</a></td>
            </tr>
            <tr><img src="tumblr_e46761c8bd987dfab6858bc154da866c_e2080412_500.jpg" height = "100px"/></tr>
        </table>
        <div style="padding-top: 20px;">
            Welcome to my website. <br> <br>
        </div>
    </body>
</html>